/*返回顶部*/
#backtotop {
	position: fixed;
	width: 41px;
	height: 38px;
	overflow: hidden;
	left: 50%;
	margin-left:610px;
	bottom: 10px;
	background: url(../images/toolbar/backtotop.png) 0 -358px;
	opacity: .7;
	&:hover {
		opacity:1;
	}
}
